@{
        ViewBag.Title = "Inicio";
}



<!-- -cabecera inicio -->
<div class="jumbotron jumbotron-fluid mb-5">
    <div class="container text-center py-5">
        <h1 class="text-primary mb-4">Artistas & Discográficas</h1>
        <h1 class="text-white display-3 mb-5">Discos de música</h1>
        @*<div class="mx-auto" style="width: 100%; max-width: 600px;">
                <div class="input-group">
                    <input type="text" class="form-control border-light" style="padding: 30px;" placeholder="Escribe tu busqueda">
                    <div class="input-group-append">
                        <button class="btn btn-primary px-3">Buscar</button>
                    </div>
                </div>
            </div>*@
    </div>
</div>
<!-- Cabecera final -->
<!-- Discos -->
<div class="container-fluid pt-5">
    <div class="container">
        <div class="text-center pb-2">
            <h6 class="text-primary text-uppercase font-weight-bold">Destacados</h6>
            <h1 class="mb-4">Descubre los discos </h1>
        </div>
        <div class="row">
            <div class="col-md-4 mb-5">
                <div class="bg-secondary">
                    <div class="text-center p-4">
                        <img class="disco-img" src="~/Content/img/let-go.jpg" alt="" style="width: 100%;">
                    </div>
                    <div class="bg-primary text-center p-4">
                        <h3 class="m-0">Let go</h3>
                    </div>
                    <div class="d-flex flex-column align-items-center py-4">
                        <h5>Avril Lavigne</h5>
                        <p>Punk</p>
                        @*<a href="temas.html" class="btn btn-primary py-2 px-4 my-2">Canciones</a>*@
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="bg-secondary">
                    <div class="text-center p-4">
                        <img class="disco-img" src="https://static.fnac-static.com/multimedia/ES/images_produits/ES/ZoomPE/4/9/8/0093624971894/tsp20101117191504/Danger-Days-The-True-Lives-Of-The-Fabulous-Killjoys.jpg" alt="" style="width: 100%;">
                    </div>
                    <div class="bg-primary text-center p-4">
                        <h3 class="m-0">Danger days</h3>
                    </div>
                    <div class="d-flex flex-column align-items-center py-4">
                        <h5>My Chemical Romance</h5>
                        <p>Rock</p>
                        @* <a href="temas.html" class="btn btn-primary py-2 px-4 my-2">Canciones</a>*@
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="bg-secondary">
                    <div class="text-center p-4">
                        <img class="disco-img" src="https://static.fnac-static.com/multimedia/ES/images_produits/ES/ZoomPE/1/2/1/5099996511121/tsp20121118094348/This-Is-War.jpg" alt="" style="width: 100%;">
                    </div>
                    <div class="bg-primary text-center p-4">
                        <h3 class="m-0">This is war</h3>
                    </div>
                    <div class="d-flex flex-column align-items-center py-4">
                        <h5>30 Second to Mars</h5>
                        <p>Rock</p>
                        @*<a href="" class="btn btn-primary py-2 px-4 my-2">Canciones</a>*@
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 text-center mb-5">
                <a class="btn btn-default btn btn-primary py-2 px-4 my-2 " href="/Disco">Ver más discos</a>
            </div>
        </div>
    </div>
</div>
<!-- Discos final -->
<!-- Artistas inicio -->
<div class="container-fluid pt-56">
    <div class="container">
        <div class="text-center pb-2">
            <h6 class="text-primary text-uppercase font-weight-bold">Artistas</h6>
            <h1 class="mb-4">Conoce los cantantes</h1>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="team card position-relative overflow-hidden border-0 mb-5">
                    <img class="card-img-top" src="https://cdn.wegow.com/media/artists/thirty-seconds-to-mars/thirty-seconds-to-mars-1498488525.52.2560x1440.jpg" alt="">
                    <div class="card-body text-center p-0">
                        <div class="team-text d-flex flex-column justify-content-center bg-secondary">
                            <h5 class="font-weight-bold">30 seconds to mars</h5>
                        </div>
                        <div class="team-social d-flex align-items-center justify-content-center bg-primary">
                            <a class="btn btn-outline-dark btn-social mr-2" href="https://open.spotify.com/artist/0RqtSIYZmd4fiBKVFqyIqD"><i class="fa fa-music"></i></a>
                            <a class="btn btn-outline-dark btn-social mr-2" href="https://twitter.com/30SECONDSTOMARS"><i class="fab fa-twitter"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="team card position-relative overflow-hidden border-0 mb-5">
                    <img class="card-img-top" src="https://static2.ideal.es/www/pre2017/multimedia/granada/noticias/201310/01/Media/otra/anastacia.jpg" alt="">
                    <div class="card-body text-center p-0">
                        <div class="team-text d-flex flex-column justify-content-center bg-secondary">
                            <h5 class="font-weight-bold">Anastacia</h5>
                        </div>
                        <div class="team-social d-flex align-items-center justify-content-center bg-primary">
                            <a class="btn btn-outline-dark btn-social mr-2" href="https://open.spotify.com/artist/2siHvYaxjaW5rKVRiIrMYH"><i class="fa fa-music"></i></a>
                            <a class="btn btn-outline-dark btn-social mr-2" href="https://twitter.com/anastaciamusic"><i class="fab fa-twitter"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="team card position-relative overflow-hidden border-0 mb-5">
                    <img class="card-img-top" src="https://www.elsoldemexico.com.mx/gossip/celebridades/9f17kc-linkin-park-3.jpg/ALTERNATES/LANDSCAPE_1140/linkin%20park%203.jpg" alt="">
                    <div class="card-body text-center p-0">
                        <div class="team-text d-flex flex-column justify-content-center bg-secondary">
                            <h5 class="font-weight-bold">Linkin park</h5>
                        </div>
                        <div class="team-social d-flex align-items-center justify-content-center bg-primary">
                            <a class="btn btn-outline-dark btn-social mr-2" href="https://open.spotify.com/artist/6XyY86QOPPrYVGvF9ch6wz"><i class="fa fa-music"></i></a>
                            <a class="btn btn-outline-dark btn-social mr-2" href="https://twitter.com/linkinpark"><i class="fab fa-twitter"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="team card position-relative overflow-hidden border-0 mb-5">
                    <img class="card-img-top" src="https://wallpapercave.com/wp/sLgkVr1.jpg" alt="">
                    <div class="card-body text-center p-0">
                        <div class="team-text d-flex flex-column justify-content-center bg-secondary">
                            <h5 class="font-weight-bold">Pink</h5>
                        </div>
                        <div class="team-social d-flex align-items-center justify-content-center bg-primary">
                            <a class="btn btn-outline-dark btn-social mr-2" href="https://open.spotify.com/artist/1KCSPY1glIKqW2TotWuXOR"><i class="fa fa-music"></i></a>
                            <a class="btn btn-outline-dark btn-social mr-2" href="https://twitter.com/pink"><i class="fab fa-twitter"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 text-center mb-5">
                <a class="btn btn-default btn btn-primary py-2 px-4 my-2 " href="/Autor">Ver más cantantes</a>
            </div>
        </div>
    </div>
</div>
<!-- Artistas fin -->



<!-- API inicio-->
<div class="container-fluid py-5" >
    <div class="container">
        <div class="text-center pb-2">
            <h6 class="text-primary text-uppercase font-weight-bold">Canciones</h6>
            <h1 class="mb-4">Lista spotify</h1>


            <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/5vreCU482sMqWfBuY07u8D?utm_source=generator&theme=0" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>


            @*<input class="btn btn-primary py-2 px-4 my-2" type="button" value="Ver Autores" onclick="llamaAutores()">*@

            <div id="miTabla"></div>
            <div id="miTablaDetalle"></div>

            <script type="text/javascript" src="~/Scripts/miAjax.js"></script>

        </div>

    </div>
</div>
<!-- API final -->


